<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Unikit    -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!--  Mon theme  -->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>home-page</title>
</head>
<body class="background">

<h1>Home page</h1>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aspernatur dolor ea excepturi
        explicabo illo ipsa laudantium mollitia nulla perferendis quos sed sit, vel vero voluptate voluptatum! Nemo,
        quia.</p>
</div>

<div>
    <a class="uk-link-muted uk-width-1-1 link-page" href="moviesList">Movies list</a>
</div>

<div>
    <a class="uk-link-muted uk-width-1-1 link-page" href="movieDetail">Movies details</a>
</div>

<div>
    <button class="uk-button uk-button-primary uk-width-1-1">Test</button>
</div>


</body>
</html>