<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Unikit    -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!--  Mon theme  -->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>movie-detail</title>
</head>
<body>
<h1>Movie detail</h1>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aspernatur dolor ea excepturi
        explicabo illo ipsa laudantium mollitia nulla perferendis quos sed sit, vel vero voluptate voluptatum! Nemo,
        quia.</p>
</div>
<div>
    <a class="uk-link-muted" href="home">Home page</a>
</div>

</body>
</html>