<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}"
>

<body layout:fragment="content">

<div>
    <a class="uk-link-muted" href="../moviesList">Movies list</a>
</div>


<h1>Movie detail</h1>

<div class="uk-child-width-1-1@m" uk-grid>

    <div class="eni-card">

        <div class="uk-card uk-card-default">

            <div class="uk-card-media-top eni-container-img">
                <img th:src="${'../' + movie.pathImg}" width="1800" height="1200" alt="">
            </div>

            <div class="uk-card-body">

                <h3 class="uk-card-title" th:text="${movie.title}"></h3>

                <i th:each="star: ${maxStars}" class="fa fa-star"
                   th:classappend="${movie.getNote()>=star} ? 'eni-star-check' :''"></i>

                <div>
                    <span th:text="${'Année : ' + movie.year}"></span>
                    -
                    <span th:text="${'Durée : ' + movie.duration}"></span>
                </div>

                <p th:text="${movie.synopsis}">.</p>

                <img th:src="${'../' + movie.pathImg}" width="1800" height="1200" alt="">

                <!--      ou          -->

                <a th:href="@{'/movie-detail/' + ${movie.id}}"></a>



            </div>

        </div>

    </div>

</div>

<!--<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>-->

<!--    <div class="eni-card">-->
<!--        <div class="uk-card-media-bottom uk-cover-container">-->

<!--            <a class="uk-link-muted">-->
<!--                <img th:src="${'../' + movie.pathImg}" alt="" uk-cover>-->
<!--            </a>-->

<!--            <canvas width="600" height="400"></canvas>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="uk-card-body">-->
<!--                <h3 class="uk-card-title" th:text="${movie.title}"></h3>-->

<!--                <i th:each="star: ${maxStars}" class="fa fa-star"-->
<!--                   th:classappend="${movie.getNote()>=star} ? 'eni-star-check' :''"></i>-->

<!--                <div>-->
<!--                    <span th:text="${'Année : ' + movie.year}"></span>-->
<!--                    - -->
<!--                    <span th:text="${'Durée : ' + movie.duration}"></span>-->
<!--                </div>-->
<!--                <p th:text="${movie.synopsis}">.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->

</body>
</html>